html{
  background-color: #3e3d42;
  color: white;
}

.scrolist{
    height: 350px;
}

.auth{
    position: absolute;
    top: 25%;
    left: 34%;
}

.download{
  height: 20px;
  margin: .5rem 0 1rem 0;
  transition: width 1s ease-in-out;
}

.downloadrow{
  margin-bottom: 5px;
}

.buttonrow{
  margin-bottom: 0px;
}

.listrow{
  margin-bottom: 10px;
}

.supersmall{
  height: 20px;
  line-height: 20px;
  font-size: 15px;
}

.pdleftzero{
  padding-left: 0 !important;
}

.pdrightzero{
  padding-right: 0 !important;
}

.label-download-progress{
  top: -4px;
  position: relative;
  font-size: .8rem;
}

.download-progress{
  margin: .5rem 0 1rem 0;
}

.timer{
  display: inline;
}

.network-status-point{
  padding-top: 5px;
}

.player{
  margin-left: 2%;
  margin-right: 2%;
}


/* label underline focus color */

.input-field input[type=text]:focus {
  border-bottom: 1px solid #9f9ea3;
  color: aliceblue;
 
}
/* valid color */
.input-field input[type=text].valid {
  border-bottom: 1px solid #9f9ea3;;
}
/* invalid color */
.input-field input[type=text].invalid {
  border-bottom: 1px solid #9f9ea3;;
}
/* icon prefix focus color */
.input-field .prefix.active {
  border-bottom: 1px solid #9f9ea3;;
  color: #ffffff;;
}

.dropdown-content li span,
.select-wrapper input.select-dropdown {  
    color: #808080;   
}

.select-wrapper .caret {
  
    fill: white;
}

/* track list*/

.collection-item{
  background-color: #9f9ea3;
  color: #808080;
}

.collection-item.active{
  background-color: #43a047 !important;
  color: white;
}

/* auth form */
.auth-input{
  color: white;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #9e9e9e;
  border-radius: 0;
  outline: none;
  height: 3rem;
  width: 100%;
  font-size: 16px;
  margin: 0 0 8px 0;
  padding: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: border .3s, -webkit-box-shadow .3s;
  transition: border .3s, -webkit-box-shadow .3s;
  transition: box-shadow .3s, border .3s;
  transition: box-shadow .3s, border .3s, -webkit-box-shadow .3s;
}

.auth-input:focus{
  color: white;
  border-bottom: 1px solid white;
}